/* ####### Reset Styling ######## */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* ####### General Styling ######## */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f5f7;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  width: 125px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 8px 0;
  background-color: white;
  border: 1px solid #396df2;
  border-radius: 6px;
}

button:hover {
  color: white;
  border: 1px solid #6070ff;
  background-color: #6070ff;
  transition: 0.5s;
}

button:focus {
  color: white;
  border: 1px solid #2230d2;
  background-color: #2230d2;
  transition: 0.5s;
}

button:disabled {
  color: #5e6c84;
  background-color: white;
  border: 1px solid #5e6c84;
}

/* ################################## Mobile Version ################################## */

/* ####### Header ######## */

header {
  width: 100%;
  position: relative;
}

nav {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 72px;
  padding: 0 10.76%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo {
  width: 100px;
  height: 20px;
  color: #6070ff;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.navLinks {
  display: none;
}

/* ####### Hero Section ######## */

.hero {
  background-color: white;
  height: calc(100vh - 72px);
  margin-top: 72px;
  background-image: url("./images/Header-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0 0 0 100px;
  border-bottom: 1px solid #dfe1e6;
}

.container {
  width: 80%;
  margin: auto;
  padding-top: 165px;
  height: 75%;
  display: flex;
  flex-direction: column;
}

.myName {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.describtion {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

.socialMedia {
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}

.socialMediaIcons {
  color: #505f79;
  margin-top: 5px;
  display: flex;
}

.socialMediaIcons li {
  margin-right: 20px;
}

/* ####### Works Section ######## */

.works {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  background-color: #f4f5f7;
}

.workCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  width: 87%;
  margin-top: 114px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.projectImg {
  width: 100%;
  height: 220px;
  left: 16px;
  top: 16px;
}

.projectName {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 12px 0;
}

.projectInfo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.projectType {
  color: #344563;
}

.counter {
  width: 8px;
  height: 8px;
  margin: 0 12px;
}

.projectDescribtion {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
}

.languages {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 10px;
}

.lang {
  background: #ebebff;
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

/* ####### About Me Section ######## */

#aboutMe {
  width: 100%;
  margin-top: 114px;
  background-color: white;
  border-radius: 0 100px 0 0;
  padding-bottom: 1px;
  border-top: 1px solid #dfe1e6;
}

.container2 {
  padding-top: 114px;
  width: 87%;
  margin: auto;
}

.aboutMySelf {
  width: 100%;
  margin: 0 auto;
}

.aboutMySelf h2 {
  font-weight: bold;
  font-size: 50px;
  line-height: 52px;
  color: #172b4d;
}

.aboutMySelf p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.aboutMySelf .socialMediaIcons {
  display: flex;
}

.aboutMySelf .socialMediaIcons li {
  margin-right: 23px;
  margin-top: 15px;
}

.aboutMySelf button {
  width: 160px;
}

.aboutMySelf-1 {
  width: 100%;
  margin: auto;
  margin-bottom: 114px;
}

.langHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.langType {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.langItem {
  height: 66.72px;
  background-color: #f7f7f9;
  margin-top: 12px;
  padding-left: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.langItem p {
  margin-left: 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.frameworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #dfe1e6;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #dfe1e6;
}

/* ####### Footer ######## */

footer {
  background-color: #fff;
}

#contact {
  background-color: #6070ff;
  padding-top: 103px;
  border-radius: 100px 0 0 0;
  background-image: url(./images/contact-form-shapes-mobile.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.formTitle {
  width: 87%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.formTitle h2 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.formTitle p {
  margin-top: 12px;
  color: #ebebff;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

form {
  width: 87%;
  margin: auto;
  padding-bottom: 45px;
}

.contact-form {
  width: 100%;
  padding: 45px 0 0 0;
  display: flex;
  flex-direction: column;
}

.contact-form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 38px 15px 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}

.contact-form input:focus {
  outline: none !important;
  border: 4px solid #000000a6;
}

.contact-form textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 15px 38px 15px 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #b3bac5;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  min-height: 170px;
}

.contact-form textarea:focus {
  outline: none !important;
  border: 4px solid #000000a6;
}

.form button {
  margin: 0;
  padding: 12px 16px;
  width: auto;
  border-radius: 8px;
}

.form button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #1e2bb9;
}

@media only screen and (max-width: 576px) {
  /* ######### Menu Pop-up ##########  */

  .navLinks.show {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding-left: 30px;
    padding-right: 42px;
    padding-top: 26px;
    background: rgba(97, 113, 255, 0.92);
    text-align: center;
    z-index: 2;
    transition: 0.5s;
    color: #fff;
  }

  .navLinks ul {
    margin-top: 4rem;
  }

  .navLinks li {
    margin: 20px 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
  }
}

/* ######### Project Pop-up ##########  */

.project-pop {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-pop-container {
  position: absolute;
  z-index: 20;
  width: 87%;
  padding: 0 5%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.project-pop-container img {
  width: 100%;
  height: 220px;
  margin-top: 20px;
}

.project-pop-container .fa-times {
  width: 12px;
  float: right;
  margin-top: 30px;
  margin-right: 14px;
}

.project-pop-name {
  margin-top: 18px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.tech-pop {
  display: flex;
  gap: 6px;
  margin-top: 15px;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.tech-pop-type {
  color: #344563;
}

.tech-pop span {
  width: 8px;
}

.project-pop-desc {
  margin-top: 12px;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.used-lang {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}

.used-lang p {
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.line-span {
  margin: 20px auto;
  width: 95%;
  height: 1px;
  color: #dfe1e6;
}

.pop-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.live-btn {
  width: auto;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 12px 15px;
}

.source-btn {
  width: auto;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 12px;
}

/* ################################## Desktop Version ################################## */

@media only screen and (min-width: 992px) {
  /* ####### Header ######## */

  .navLinks {
    display: block;
    display: flex;
  }

  .navLinks ul {
    display: flex;
  }

  .navLinks li {
    margin-left: 32px;
  }

  .navLinks a {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  nav .fa-bars {
    display: none;
  }

  nav .fa-times {
    display: none;
  }

  /* ####### Hero Section ######## */

  .hero {
    margin-top: 72px;
    height: calc(100vh - 72px);
    width: 100%;
    background-image: url("./images/Header-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    border-radius: 0 0 0 100px;
  }

  .hero .container {
    width: 64%;
    margin: auto;
    padding-top: 250px;
    height: 100%;
  }

  .myName {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
  }

  /* ####### Works Section ######## */

  .workCard {
    margin: 0;
    width: 80%;
    height: 550px;
    margin-top: 142px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 24px;
    transition: all 0.25s ease;
  }

  .workCard:nth-child(even) {
    flex-direction: row-reverse;
  }

  .workCard:hover {
    position: relative;
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .projectImg {
    width: 47%;
    height: 100%;
    border-radius: 8px;
  }

  .work {
    display: flex;
    flex-direction: column;
    width: 52%;
    padding: 24px;
  }

  .projectName {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 20px;
  }

  .projectInfo {
    padding-right: 21.2%;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .projectDescribtion {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
  }

  .languages {
    margin-top: 24px;
  }

  button {
    margin-top: 30px;
    padding: 12px 7px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border-radius: 8px;
  }

  /* ####### About Me Section ######## */

  #aboutMe {
    width: 100%;
    margin-top: 142px;
    padding-bottom: 50px;
  }

  .container2 {
    padding-top: 142px;
    width: 80%;
    margin: 0 auto;
    display: flex;
  }

  .aboutMySelf {
    width: 40%;
  }

  .aboutMySelf h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .aboutMySelf .describtion {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .aboutMySelf-1 {
    width: 60%;
    padding-left: 2.16%;
  }

  .aboutMySelf-1 h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  .langHead {
    margin-top: 0;
  }

  .langType {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
  }

  .langItem {
    width: 122px;
    height: 120px;
    background-color: #f7f7f9;
    margin-right: 12px;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .langItem p {
    margin-left: 0;
    margin-top: 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  /* ####### Footer ######## */

  #contact {
    padding: 142px 0;
    border-radius: 100px 0 0 0;
    background-image: url(./images/contact-form-background-shapes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  }

  .formTitle {
    width: 40%;
  }

  form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  /* ######### Project Pop-up ##########  */

  .project-pop-container {
    width: 70%;
    height: 95%;
    overflow: auto;
    padding: 24px 45px;
  }

  .project-pop-container::-webkit-scrollbar {
    display: none;
  }

  .project-pop-image-div {
    width: 100%;
    height: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #e6e6e2;
    border-radius: 8px;
  }

  .project-pop-container img {
    margin-top: 0;
    width: 85%;
    height: 100%;
    border-radius: 0;
  }

  .project-pop-container .fa-times {
    margin-top: 0;
  }

  .project-pop-name {
    margin-top: 0;
  }

  .project-pop-desc {
    float: left;
    width: 65%;
    margin-bottom: 60px;
  }

  .container10 {
    float: right;
    width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .line-span {
    margin: 10px auto;
  }

  .pop-btn {
    justify-content: space-evenly;
    gap: 5px;
    margin-right: 0;
    padding-right: 0;
  }

  .live-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 12px;
  }

  .source-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 12px;
  }
}
